<!-- templates/blog/post_detail.html -->
{% extends 'users/base_user.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/post_detail.css">
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>{{ post.title }}</h2>
    <p><strong>Автор:</strong> {{ post.author.username }}</p>
    <p><strong>Категорія:</strong> {{ post.category }}</p>
    <p>{{ post.content }}</p>
    {% if post.preview_image %}
        <img src="{{ post.preview_image.url }}" alt="preview" class="img-fluid mb-3">
    {% endif %}
 {% if user.is_authenticated %}
     <form action="{% url 'users:posts:toggle_post_like' post.id %}" class="like-form"  method="post" style="display:inline;">
     {% csrf_token %}
     <button type="submit" class="btn-outline-success">
            👍 {{ post.likes.count }}
     </button>
     </form>


     <form action="{% url 'users:posts:toggle_post_dislike' post.id %}" method="post" class="dislike-form" style="display:inline;">
     {% csrf_token %}
     <button type="submit" class="btn-outline-danger">
            👎 {{ post.dislikes.count }}
     </button>
     </form>
 {% else %}
    <p>👍 {{ post.likes.count }} | 👎 {{ post.dislikes.count }}</p>
    <hr>
{% endif %}

    <h4>Коментарі ({{ comments.count }})</h4>
    {% for comment in comments %}
        <div class="border p-2 mb-2">
            <strong>{{ comment.author.username }}</strong>
            <small class="text-muted">{{ comment.created_at|date:"d.m.Y H:i" }}</small>

            <p>{{ comment.text }}</p>
            {% if user.is_authenticated %}
            <form action="{% url 'users:posts:toggle_comment_like' comment.id %}" method="post" class="like-form"  style="display:inline;">
     {% csrf_token %}
     <button type="submit" class="btn-outline-success">
            👍 {{ comment.likes.count }}
     </button>
     </form>


     <form action="{% url 'users:posts:toggle_comment_dislike'  comment.id %}" method="post"  class="dislike-form" style="display:inline;">
     {% csrf_token %}
     <button type="submit" class="btn-outline-danger">
            👎 {{ comment.dislikes.count }}
     </button>
     </form>
 {% else %}


            <p>👍 {{ comment.likes.count }} | 👎 {{ comment.dislikes.count }}</p>
    <hr>
{% endif %}


        </div>
    {% empty %}
        <p>Немає коментарів.</p>
    {% endfor %}
    <hr>

    {% if user.is_authenticated %}
        <h5>Додати коментар:</h5>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Надіслати</button>
        </form>
    {% else %}
        <p><a href="{% url 'users:login' %}">Увійдіть</a>, щоб залишити коментар.</p>
    {% endif %}
</div>
{% endblock %}
